<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet" href="./../css/root/style.css">
    </head>
    <body>
        <h1>What is going on!</h1>
        This is going to work and this is sick tbh!
        <h2>Hey buddy</h2>
        <ol>
            <li>Hello</li>
            <li>Beep</li>
        </ol>
        <button id="btn">Hello</button>
        <div>Counter: <span id="cnt">0</span></div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5b/HTTP_logo.svg">
        <img src="../assets/bio2.PNG">
        <img src="../assets/IMG_2484.JPG"
    </body>
    <script src="./../js/index.js"></script>
</html>